.schedule {
  background-image: url(../../../public/img/CepheusBackgrounds[Recovered]_tech.png);
  background-size: cover;
  width: 100%;
  background-position: center;
  height: 110vh;
  background-repeat: no-repeat;
  position: relative;
}
.scheduleHead {
  color: white;
  font-family: SpaceBoard;
  position: absolute;
  width: 100%;
  margin-top: 90px;
  text-align: center;
  font-size: clamp(2.5rem, 1rem + 15vh, 4.5rem);
}
.scheduleDates {
  position: absolute;
  margin-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.scheduleDates img {
  opacity: 0.8;
  width: 380px;
  /* position: absolute; */
}
.feb8,
.feb9,
.feb10,
.feb11,
.feb12 {
  position: absolute;
  top: 0;
}
.feb8 {
  left: 0;
}
.feb9 {
  left: 280px;
}
.feb10 {
  left: 560px;
}
.feb11 {
  left: 840px;
}
.feb12 {
  left: 1120px;
}
.feb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cyan;
  font-size: clamp(1rem, 0.5rem + 3vw, 1.5rem);
}



.polygon {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.polygon:hover {
  transform: scale(2);
  opacity: .65;
}

/* .feb:hover:after{
  content: attr(data-hover);
  color: white;
  font-size: .5rem;
} */
.feb::before{
  content: attr(data-before);
}