.profile {
    top: 120px;
    /*right: 20px;*/
    margin-left: 10%;
    margin-right: 10%;
    backdrop-filter: blur(20px);
    /* background-color: #ffffff99; */
    position: fixed;
    justify-content: center;
    display: flex;
    z-index: 1000;
    align-items: center;
    border-radius: 30px;
    transition: all 0.4s;
    overflow: scroll;
    /* scroll-snap-align: start; */
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}


.profile-active {
    right: 60px;
    visibility: visible;
    opacity: 1;
    width: 70%;
    height: 70vh;
}

.profile-left {
    flex: 2;
    /* border: 1px solid #ffffff50; */
    box-shadow: 0px 0px 1px #ffffff99;
    margin: 3%;
    border-radius: 10px;
    padding-bottom: 10px;
    height: 450px;
    align-self: flex-start;
}

.profile-left .profile-image {
    width: 200px;
    margin-bottom: 44px;
}

.profile-left img.name-border {
    display: block;
    width: 30%;
    margin: auto;
    position: absolute;
    left: 9%;
    top: 60%;
}

.profile-left .name, .score{
    font-family: SpaceBoards;
}


.profile-left .name {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.profile-left p {
    margin: 0;
    margin-bottom: 10px;
}

.profile-right {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 3% 0%;
    margin-right: 4%;
}


.participated-events{
    box-shadow: 0px 0px 1px #ffffff99;
    border-radius: 10px;

}

.profile-right .participated-events h2{
    font-family: SpaceBoards;
}

.profile-right ol {
    text-align: left;
    overflow: scroll;
}

.profile-right ol li {
    margin-bottom: 5px;
}

.profile-buttons {
    position: absolute;
    right: 4.5%;
    bottom: 40px;
}

.profile-buttons a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    box-shadow: 0px 0px 1px #ffffff99;
    border-radius: 7px;
    margin: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

.profile-buttons .edit:hover {
    background-color: #fff;
    color: #000;
}

.log-out {
    background-color: red;
}
.hide{
    display: none;
}
.show{
    display: block;
}
@media screen and (max-width: 420px) {
    .profile {
        right: -50px;
        top:50px;
        flex-direction: column;
    }
    .profile-active {
        right: 25px;
        width: 85%;
        height: auto;
        flex-direction: column;
    }
    .profile-left{
        flex: 5;
        padding-bottom: 1%;
        height: auto;

    }
    .profile-left .profile-image {
        width: 70px;
        margin: 30px;
    }
    .profile-left .name-border {
        top: 200px;
        width: 25%;
        margin: auto;
        left: ;
    }
    .profile-left .name {
        width: 80%;
    }
    .profile-left p {
        margin-bottom: 0;
    }
	.profile-right {
		flex: 4;
        margin: 5%;
        
	}
    .profile-buttons {
        position: absolute;
        right: 4.5%;
        bottom: 40px;
    }
    .profile-buttons a{
        width: 100%;
    }

}
