body {
  margin: 0;
  /* padding: 0; */
  /* font-family: 'Roboto', sans-serif; */
  background: url(starry-sky-purple-sky-astronomical-stars-5k-6000x4000-1022\ 2.png);
  z-index: -9999;
  /* background-size: cover; */
}
#container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index:1;
  background: url(starry-sky-purple-sky-astronomical-stars-5k-6000x4000-1022\ 2.png);
}
.GradientBorder {
  position: relative;
  width: 58%;
  
  /* padding: 40px 0; */
  font-size: 5em;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  /* background: #020117; */
  z-index: 0;
  background: url(starry-sky-purple-sky-astronomical-stars-5k-6000x4000-1022\ 2.png);
}
.GradientBorder::after {
  border-radius: 2rem;
  content: '';
  position: absolute;
  left: -4.5px;
  top: -4.5px;
  background: linear-gradient(45deg, #b604a4, #02a9ce,#F905E0, #03D2FF,#b604a4, #02a9ce,#F905E0, #03D2FF);
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: glower 20s linear infinite;
}
.GradientBorder::before {
  border-radius: 2rem;
  content: '';
  position: absolute;
  left: -4.5px;
  top: -4.5px;
  background: linear-gradient(45deg, #b604a4, #02a9ce,#F905E0, #03D2FF,#b604a4, #02a9ce,#F905E0, #03D2FF);
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  
  z-index: -1;
  animation: glower 20s linear infinite;
}

.GradientBorder::after{
  filter:blur(12px);
}
.hide{
  width: 100%;
  height: 100%;
  background: url(starry-sky-purple-sky-astronomical-stars-5k-6000x4000-1022\ 2.png);
  border-radius: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}
