body {
  margin: 0;
  /* padding: 0; */
  /* font-family: 'Roboto', sans-serif; */
  background: url(starry-sky-purple-sky-astronomical-stars-5k-6000x4000-1022\ 2.png);
  z-index: -9999;
  /* background-size: cover; */
}

.aboutus{
  height: 100vh;
  background-image: url(CepheusBackgroundsdamage.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: scroll;
}

.myStyleh1{
  position: relative;
  width: 435px;
  height: 77px;
  top: 120px;

  font-family: 'SpaceBoards';
  font-style: normal;
  font-weight: 400;
  font-size: 350%;
  line-height: 77px;
  /* identical to box height */


  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}

.blur_background{
  /* Rectangle 10 */
box-sizing: border-box;
position: relative;
width: 65%;
height: 551px;
top: 130px;
background: rgba(0, 0, 0, 0.4);
mix-blend-mode: darken;
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 30px;
  }

.text
{
  position: relative;
  width: 60%;
  margin-top: 150px;
  margin-bottom: 20px;
  /* top: -365px; */
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 50px;
  font-family: 'Outfit';
  font-style: thin;
  font-weight: 390;
  font-size: 27px;
  line-height: 34px;
  text-align: justify;
  color: #e2e2e2;

}

@media (max-width: 1700px){
  .text{
    font-size: 26px;
  }
}
@media (max-width: 1600px){
  .text{
    font-size: 26px;
  }

}
@media (max-width: 1500px){
  .text{
    font-size: 26px;
    line-height: 31px;
  }
}

@media (max-width: 1400px){
  .text{
    font-size: 24px;
    line-height: 31px;
  }
}
@media (max-width: 1180px){
  .text{
    font-size: 23px;
    line-height: 30px;
  }
}
@media (max-width: 1080px){
  .text{
    font-size: 22px;
    line-height: 29px;
  }
}
@media (max-width: 1030px){
  .text{
    font-size: 22px;
    line-height: 28px;
  }
}
@media (max-width: 1000px){
  .text{
    font-size: 21px;
    line-height: 27px;
  }
}
@media (max-width: 900px){
  .text{
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 820px){
  .text{
    font-size: 19px;
    line-height: 24px;
  }
}
@media (max-width: 730px){
  .text{
    font-size: 18px;
    line-height: 23px;
  }
}
@media (max-width: 700px){
  .text{
    font-size: 17px;
  }
}
@media (max-width: 640px){
  .text{
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 600px){
  .text{
    font-size: 16px;
    line-height: 21px;
  }
  .myStyleh1{
    font-size: 220%;
  }
}
@media (max-width: 550px){
  .text{
    font-size: 15px;
    line-height: 19px;
    width: 50%;
  }
}
@media (max-width: 510px){
  .text{
    line-height: 18px;
  }
}
@media (max-width: 480px){
  .text{
    line-height: 18px;
  }
  .blur_background{
    width: 70%;
  }
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}
