body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("starry-sky-purple-sky-astronomical-stars-5k-6000x4000-1022\ 2.png");
  /* overflow: hidden; */
  margin-bottom: 100px;
  
}
.box{
  /* align-items: center; */
  padding: 10px;
  width: 58%;
  margin-top: 100px;
  margin-left: 21%;
  /* position: relative; */
  /* display: block; */
  /* background-color: black; */
  /* z-index: 1; */
  margin-top: 100px;
  position: relative;
  /* height:  400px; */
  /* width: 380px; */
  display: block;
  border-radius: 2rem;
  /* background: linear-gradient(0deg, black, #444444); */
  background-image: url("starry-sky-purple-sky-astronomical-stars-5k-6000x4000-1022\ 2.png");

}



.glowing::before,.glowing::after{
  border-radius: 2rem;
  content: '';
  position: absolute;
  left: -4.5px;
  top: -4.5px;
  background: linear-gradient(45deg, #b604a4, #02a9ce,#F905E0, #03D2FF,#b604a4, #02a9ce,#F905E0, #03D2FF);
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: glower 20s linear infinite;
  
}
.glowing::after{
  filter:blur(12px);
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}



