.hexagon {
    position: relative;
    border-radius: 20px;
    padding: 40px;
    height: 125px;
    width: 75px;
    margin: 50px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-top-color: black;
    border-bottom-color: black;
    display: inline-block;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -5px;
    left: -5px;
    background: inherit;
    border-radius: inherit;
    height: 100%;
    width: 100%;
  }
  
  .hexagon:before {
    transform: rotate(60deg);
  }
  
  .hexagon:after {
    transform: rotate(-60deg);
  }
  
  .hexagon,
  .hexagon:before,
  .hexagon:after {
    box-shadow: 0 10px 5px -2px #14EACFFF, 0px -10px 2px -2px #14EACFFF;
    border: 2px solid #fff;
  }