.contact-main-card{
    display: flex;
    animation: scaleUp 0.2s 1;
}

/* .contact-main-card img{

} */

.main-card-border {
    width: 200px;
}

.main-card-content {
    margin-top: 40px;
    position: absolute;
    width: 200px;
}

.main-card-content img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-bottom: 20px;
    object-fit: cover;
}

.main-card-content p {
    margin: 5px;

}

.main-card-contact-detail {
    width: 80%;
    margin: auto;
}

.main-card-contact-detail .name-role{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-card-contact-detail .name-role:nth-child(2){
    margin-bottom: 30px;
}

.main-card-contact-detail .contact {
    font-size: 14px;
    word-break: break-all;
}

