.noblur {
    transition: all 0.4s;
}

.blur {
    position: absolute;
    z-index: 1000000000;
    width: 100vw;
    top: 0;
    left: 0;
    height: 500vh;
    filter: blur(5px);
    /* pointer-events: none; */
    user-select: none;
}